@font-face {
   font-family: 'WorkSans-VariableFont_wght';
   font-display: swap;
   src: url('WorkSans-VariableFont_wght/font.ttf');
}
@font-face {
   font-family: 'Lato-Black';
   font-display: swap;
   src: url('Lato-Black/font.ttf');
}
