@font-face {
   font-family: 'Lato-Black';
   font-display: swap;
   src: url('file:///Users/paul/Library/CloudStorage/OneDrive-jesuseverywordanddeed.org/Admin's%20files%20-%20OD-JEWAD/For%20Paul/mobirise/JEWAD/fonts/Lato-Black/font.ttf');
}
