@font-face {
   font-family: 'Lato-Black';
   font-display: swap;
   src: url('file:///C:/Users/bigda/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-10-19_112917/fonts/Lato-Black/font.ttf');
}
